.Pagina {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: flex-start;
    flex-direction: column;  /* Alinha ao topo */
    margin: 2rem;
}

.section-container {
    display: flex;  /* Use flexbox para alinhar a imagem e a sinopse lado a lado */
    gap: 4rem;
    width: 100%;  /* Espaçamento entre a imagem e o texto */
}

.container-livro {
    width: 21.9rem;  /* Define um tamanho para a borda */
    padding: 1.5rem;  /* Espaçamento interno */
    border: 2px solid black;  /* Borda ao redor da imagem */
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.container-livro img {
    width: 100%;  /* A imagem ocupa toda a largura do container */
    height: auto;
    display: block;
}

.titulo {
    position: absolute;
    top: 0.6rem;  /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;
}

.sinopse {
    position: relative;
    font-size: 1.2rem;
    max-width: 55.5rem;  /* Define a largura máxima do texto */
    padding: 1rem;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    line-height: 1.6;  /* Melhora a legibilidade do texto */

    /* Remove margin-left para evitar que o texto se mova para a direita */
}

.carregamento {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centraliza verticalmente o carregamento */
}


