.explorar-livros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filtros {
  width: 25%;
}

.lista-livros {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.livro-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 220px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.livro-card:hover {
  transform: scale(1.05);
}

.livro-card img {
  width: 80px; /* Tamanho fixo para a imagem */
  height: 120px;
  object-fit: cover; /* Ajusta a imagem para cobrir a área sem distorção */
  margin-right: 10px;
}

.livro-card div {
}

.generos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Cria colunas com largura mínima de 100px */
  gap: 10px; /* Espaçamento entre os gêneros */
  margin-top: 10px;
}

.genero {
  background-color: #78aba8; /* Cor de fundo desejada */
  padding: 5px 10px; /* Adiciona preenchimento para que o fundo acompanhe a palavra */
  border-radius: 5px; /* Arredonda as bordas */
  display: inline-block; /* Faz com que o fundo acompanhe a largura da palavra */
  font-size: 14px; /* Ajuste de tamanho da fonte */
  color: white; /* Cor do texto */
  text-align: center; /* Centraliza o texto dentro do fundo */ /* Impede que o texto quebre em várias linhas */
}

.filtros h3 {
  margin-bottom: 10px;
}

.filtros div {
  margin-bottom: 20px;
}

.filtros label {
  display: block;
  margin-bottom: 5px;
}
