*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
body{
    background-color: #808080;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

header{
    width: 100%;
}
.cabecario{
    position: absolute;
    top: 0;
    right: 0;
    height: 5%;
    max-width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.cabecario .icon{
    position: absolute;
    color: black;
    right:82rem;
    top: .9rem;
    height: 3rem;
    width: 4rem;
    text-align: center;
    cursor: pointer;

}


.cabecario input{
    padding: .9rem;
    padding-right: 25rem;
    background-color:#DCDCDC ;
    border-radius: 24rem;
}

.Search.active.active input{
    border-radius: 5px 5px 0 0;

}

.cabecario input:hover{
    border: 2px solid black;
    border-color: #808080;
    transition: .5s ease;
}

.BarraNav{
    display: flex;
    align-items: center;
}

.Search .list{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 15rem;
    overflow-y: auto;
}

.Search.active .list{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.Search.active .list li{
    display: block;
}

.list li{
    list-style: none;
    padding:  .5rem .9rem;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.list li:hover{
    background: #efefef;
}


.cabecario #btn-nav{
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
    padding-left: 2.0rem;
    margin-left: 2.5rem;
}
