/* Container do carrossel */
.carousel-container {
  padding: 40px 0;
  background-color: #d7ccc8; /* Bege sutil para combinar com CoffeeLibrary */
  text-align: center;
}

.carousel-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3e2723; /* Marrom escuro para contraste */
}

/* Swiper container */
.swiper-container {
  width: 80%;
  margin: auto;
}

/* Slide do livro */
.slide-item {
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.slide-item:hover {
  transform: scale(1.05);
}

/* Cartão do livro */
.book-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 2px solid #795548; /* Detalhe marrom no rodapé da imagem */
}

.book-info {
  padding: 10px;
}

.book-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  color: #3e2723;
}

.book-author {
  font-size: 14px;
  color: #555;
}

.book-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.star-icon {
  color: #ffcc00;
  margin-right: 5px;
}
