.cabecario {
  width: 100%;
  height: 4rem;
  background: #795548;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BarraNav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.BarraNav .container-btns {
  position: relative;
  left: 40rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.BarraNav a {
  color: #f5e6d3;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.3s;
  padding: 10px 15px;
  background: transparent;
}

.BarraNav a:hover {
  color: #795548;
  background-color: #f5e6d3;
  transition: 0.3s;
  text-align: center;
}

.cabecario input {
  background-color: #f5e6d3;
  border: 1px solid #795548;
  padding: 8px;
  border-radius: 5px;
}
